.about-main{
    margin-block: 3%;
    margin-inline: 15%;
}
.banner-about img{
    opacity: 1;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .about-main{
        margin-inline: 5%;
    }
}
@media (max-width:767px){
    .about-main{
        margin-block: 0;
        margin-inline: 5%;
    }
    .banner-about, .banner-about img{
        height: 223px;
    }
}