.toggle-collapse{
    background-color: #FF6060;
    color: white;
    border: 0;
    padding: 0.5em;
    font-family: "Montserrat";
    font-size: medium;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    justify-content: center;
    position: relative;
}
.kasa-collapse{
    margin-block: 1.5%;
    width: 100%;
}
.toggle-collapse-content{
    background-color: #f6f6f6;
    color: #FF6060;
    padding-block: 1%;
    border-radius: 5px;
}
.toggle-collapse-content p{
    padding-inline: 3%;
}
.arrow-toggle{
    position: absolute;
    right: 2%;
    bottom: 10%;
    font-weight: bolder;
    font-size: x-large;
}
@media (max-width:767px){
    .kasa-collapse{
        margin-block: 3%;
    }
    .toggle-collapse{
        width: 100%;
    }
    .toggle-collapse-content{
        width: 100%;
    }
    .toggle-collapse-content p{
        padding-inline: 5%;
        font-size: 0.7em;
    }
}