.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-block: 1%;
}
.title-footer{
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 1%;
    letter-spacing: 5px;
}