.kasa-header {
    color: #FF6060;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 5%;
}
.kasa-title-header {
    font-size: 4em;
    margin: 0;
    letter-spacing: 5px;
    position: relative;
}
.kasa-links1-header, .kasa-links2-header{
    color: #FF6060;
    font-size: 1.2em;
    text-decoration: none;
    padding-inline: 10%;
    white-space: nowrap;
}
.kasa-nav-header{
    text-align: center;
    margin-inline: 5%;
}
.kasa-logo{
    width: 2.7em;
    position: absolute;
    left: 8%;
    top: 3.5%;
}
.kasa-links1-header:hover, .kasa-links2-header:hover{
    font-weight: bold;
}

@media (max-width: 767px) /*mobile responsive*/
{   
    .kasa-title-header{
        font-size: 3em;
    }
    .kasa-logo{
        width: 2em;
        top: 3%;
        left: 17%;
    }
    .kasa-nav-header{
        text-transform: uppercase;
        font-size: 0.7em;
    }
    .kasa-links1-header, .kasa-links2-header{
        padding-inline: 3%;
    }
    .kasa-links1-header:hover, .kasa-links2-header:hover{
        font-weight: normal;
        text-decoration: underline;
    }
}