.home-main{
    background-color: #f6f6f6;
    margin-inline: 5%;
    border-radius: 25px;
    padding-top: 1%;
    padding-bottom: 0;
    padding-left: 2%;
    margin-bottom: 5%;
}
@media (max-width:767px){
    .home-main {
        background-color: transparent;
        padding-left: 0;
    }
}