.host-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.host-image{
    width: 5%;
    border-radius: 50px;
}
.host-name{
    padding-right: 0.5%;
    width: 5%;
    text-align: right;
}