.host-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.host-image{
    border-radius: 50px;
    width: 30%;
}
.host-name{
    text-align: right;
    margin-right: 5%;
    width: 40%;
}
@media (max-width:767px){
    .host-image{
        width: 20%;
    }
    .host-name{
        width: 30%;
    }
}