.host-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.host-image{
    border-radius: 50px;
    margin-left: 2%;
    width: 30%;
}
.host-name{
    text-align: right;
    width: 32%;
}
@media (max-width:767px){
    .host-image{
        width: 20%;
        margin-left: 3%;
    }
}