.lodging-main{
    margin-inline: 5%;
    color: #ff6060;
}
.head-block-lodging{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 2%;
}
.equipment-lodging{
    list-style-type: none;
    padding: 0;
}
.collapses-lodging{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}
.collapse-descript, .collapse-equip{
    width: 48%;
}
.lodging-title{
    margin-bottom: 0;
    font-size: 2em;
}
.lodging-location{
    margin-top: 0.3%;
}
.block-rating-host{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
@media (max-width:767px){
    .head-block-lodging{
        display: flex;
        flex-direction: column;
    }
    .lodging-title{
        font-size: 1.5em;
        margin-bottom: 1%;
    }
    .lodging-location{
        font-size: 0.9em;
        font-weight: bold;
    }
    .collapses-lodging{
        display: flex;
        flex-direction: column;
    }
    .block-rating-host{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .collapse-content{
        padding-inline: 5%;
        font-size: 0.7em;
    }
}