.lodging-main{
    margin-inline: 5%;
    color: #ff6060;
}
.equipment-lodging{
    list-style-type: none;
    padding: 0;
}
.collapses-lodging{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.kasa-collapse{
    width: 48%;
}
.toggle-collapse-content{
    height: 75%;
    max-height: 100%;
}
.collapse-content{
    line-height: 150%;
}
.lodging-title{
    margin-bottom: 0;
    font-size: 2em;
}
.lodging-location{
    margin-top: 0.3%;
}
.block-rating-host{
    position: absolute;
    right: 5%;
    top: 75%;
}
.block-rating-host img{
    position: absolute;
    width: 45%;
    right: 0;
} 
@media (max-width:767px){
    .lodging-title{
        font-size: 1.5em;
        margin-bottom: 1%;
    }
    .lodging-location{
        font-size: 0.9em;
        font-weight: bold;
    }
    .collapses-lodging{
        display: flex;
        flex-direction: column;
    }
    .block-rating-host{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        position: initial;
        margin-right: 4%;
    }
    .block-rating-host img{
        width: 15%;
        margin-right: 5%;
        /* position: initial; */
    }
    .collapse-content{
        padding-inline: 5%;
        font-size: 0.7em;
    }
}