.block-slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2%;
}
.slideshow-slider{
    display: flex;
    align-items: center;
    width: 100%;
    height: 415px;
    overflow: hidden; /*pour cacher surplus d'image*/
    border-radius: 25px;
}
.slide{
    width: 120%;
    user-select: none; /*remove blue selector background on click*/
}
.right-arrow{ 
    position: absolute;
    top: 37%;
    right: 200px;
    font-size: 4em;
    color: white;
}
.left-arrow{
    position: absolute;
    top: 37%;
    left: 200px;
    font-size: 4em;
    color: white;
} 
.left-arrow:hover, .right-arrow:hover{
    cursor: pointer;
}
.number-pics{
    color: white;
    position: absolute;
    left: 50%;
    top: 65%;
    font-size: 1.2em;
}