.block-slideshow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.slideshow-slider{
    position: relative;
    display: flex;
    align-items: center;
    width: 1400px;
    height: 415px;
    overflow: hidden; /*hide image excess*/
    border-radius: 25px;
}
.slide{
    width: 1400px;
    height: 420px;
    object-fit: cover;
    user-select: none; /*remove blue selector background on click*/
}
.right-arrow{ 
    position: absolute;
    top: 40%;
    right: 5%;
    font-size: 5em;
    color: white;
}
.left-arrow{
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 5em;
    color: white;
} 
.left-arrow:hover, .right-arrow:hover{
    cursor: pointer;
}
.number-pics{
    color: white;
    position: absolute;
    left: 50%;
    top: 90%;
    font-size: 1.2em;
}
@media (min-width: 0px) and (max-width:767px){
    .slideshow-slider{
        height: 200px;
        border-radius: 15px;
    }
    .right-arrow, .left-arrow{
        font-size: 2em;
    }
    .slide{
        object-fit: cover;
        max-height: 300px;
        max-width: 400px;
    }
    .number-pics{
        visibility: hidden;
    }
}